.image-icon {
  width: 60px;
  border-radius: 30px;
}
.right-bar {
  height: 700px;
}
.tag-div {
  height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}

.friend-div {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}
.logged-in {
  color: green !important;
}

.friends-image-icon {
  width: 30px;
  border-radius: 25px;
}

.margin-botton-unset {
  margin-bottom: unset !important;
}
.bg-friends-div {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
